img.card {
  width: 3.6em;
  height: 6em;
}

div.card-overlay {
  background:black;
  width:3.6em;
  height:6em;
  position:absolute;
  top:0;
  left:0;
  opacity:0.33;
}

div.point-container div.img-overlay-container {
  position:relative;
  width: 3.6em;
  height: 6em;
}

div.img-overlay-container:hover .card-overlay {
  opacity: 0;
  transition: 0.2s ease
}

div.text-overlay {
  position:absolute;
  top:0;
  left:40%;
  opacity: 1;
  color:white;
  line-height: 3.6em;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/****         POINT MENU MODAL       *****/

div.points-menu.card-container {
  position:relative;
  height: 30vw;
  width: 18vw;
  margin: 0 auto;
}

div.points-menu.card-container img.points-menu.draw-card {
  height: 30vw;
  margin: 2% auto;
}

div.points-menu.card-overlay {
  height: 30vw;
  width: 18vw;
  margin: 2% auto;
  top:0;
  background-color: black;
  opacity:0.4;
  position: absolute;
}

div.points-menu.card-text-overlay {
  position: absolute;
  left: 2vw;
  top: 10vw;
  font-style: italic;
  color:white;
  
}

div.points-menu.card-container:hover .points-menu.card-overlay {
  opacity: 0;
  transition: 0.2s ease;
}

div.points-menu.card-container:hover .points-menu.card-text-overlay {
  display:none;
}

form.points-menu.description-form {
  margin-top: 10%;
}