div#journey-title {
}

div#save-journey-button {
  margin: 2% 0 3%;
}

div#journey-circle-container {
  margin: 0 auto;
  padding:40px;
}

div#journey-circle {
  border: 0.5px solid rgb(129, 129, 129);
  width: 40em;
  height: 40em;
  border-radius: 50%;
  position: relative;
  margin: 10px auto;
}

div.point-container-circle {
  width: 3.6em;
  height: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3em -1.8em;
}

div.point11 .text-overlay {
  left: 30%;
}

div.point12 .text-overlay, div.point10 .text-overlay {
  left: 28%;
}

div.point-container-circle.point1 {
  transform: rotate(-90deg) translate(20em) rotate(90deg);
}

div.point-container-circle.point2 {
  transform: rotate(-60deg) translate(20em) rotate(60deg);
}

div.point-container-circle.point3 {
  transform: rotate(-30deg) translate(20em) rotate(30deg);
}

div.point-container-circle.point4 {
  transform: rotate(0deg) translate(20em) rotate(0deg);
}

div.point-container-circle.point5 {
  transform: rotate(30deg) translate(20em) rotate(-30deg);
}

div.point-container-circle.point6 {
  transform: rotate(60deg) translate(20em) rotate(-60deg);
}

div.point-container-circle.point7 {
  transform: rotate(90deg) translate(20em) rotate(-90deg);
}

div.point-container-circle.point8 {
  transform: rotate(120deg) translate(20em) rotate(-120deg);
}

div.point-container-circle.point9 {
  transform: rotate(150deg) translate(20em) rotate(-150deg);
}

div.point-container-circle.point10 {
  transform: rotate(180deg) translate(20em) rotate(-180deg);
}

div.point-container-circle.point11 {
  transform: rotate(210deg) translate(20em) rotate(-210deg);
}

div.point-container-circle.point12 {
  transform: rotate(240deg) translate(20em) rotate(-240deg);
}
