body {
  color:rgb(41, 41, 41);
  line-height: 1.2em;
}

div#view-wrapper {
  /* background-color: aqua; */
  position:absolute;
  margin: 0 auto;
  width: 98vw;
  height:100vw;
  display: grid;
  grid-template:
    [top-end]
    160px [title-end]
    10fr [main-end]
    1fr [bottom-end] /
    [left-end]
    380px [sidebar-end]
    4fr [col-1-end]
    4fr [right-end];
}

div#menu {
  position: fixed;
  height: 3%;
  width: 8%;
  top: 0;
  right: 3%;
  background-color: purple;
  visibility: hidden;
}

div#title-area {
  grid-area: top-end/left-end/title-end/sidebar-end;
  text-align:center;
  color:black;
  /* background-color:rgb(255, 225, 230); */
}

div#sidebar {
  grid-area: title-end/left-end/bottom-end/sidebar-end;
  /* background-color: rgb(252, 252, 212); */
  padding: 10px 0 10px 10px;
  font-size:90%;
}

div#main {
  grid-area: top-end/sidebar-end/bottom-end/right-end;
  /* background-color: rgb(205, 239, 255); */
  padding: 10px 20px;
  text-align: center;
  border-left: 0.5px solid rgb(212, 212, 212);
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  transition: ease;
}

.points-menu.container {
  z-index: 2;
  display: none;
  position: fixed;
  background: white;
  width: 1200px;
  height: 600px;
  left: 10vw;
  top: 5vw;
}

div.points-menu.content-container {
  display: grid;
  grid-template: 1fr 3fr 3fr / 1fr 1fr 1fr;
  /* background-color: rgba(100, 148, 237, 0.562); */
  margin: 0 auto;
  padding: 0.8em 3em;
}

div.points-menu.header-container {
  grid-area: span 1 / span 3;
  /* background-color: rgb(226, 205, 208); */
}

div.points-menu.column.c1 {
  /* background-color: cornflowerblue; */
  padding-right: 1.4em;
  text-align: left;
}

div.points-menu.column.c3 {
  padding-right: 3em;
}

form.points-menu.description-form textarea {
  width: 90%;
  height: 6em;
  resize: none;
  border: 0.4px solid rgb(189, 189, 189);
}

div.points-menu.column {
  grid-area: span 2/ span 1;
  background-color: white;
}




@media only screen and (max-width:665px) {
  div#view-wrapper {
    height: 98%;
    width: 95%;
    display:flex;
    flex-direction:column;
  }

  div#title-area {
    height:20%;
  }

  div#sidebar {
    height:30%;
  }

  div#main {
    height: 100%;
  }

}