body {
  color:rgb(41, 41, 41);
  line-height: 1.2em;
}

div#view-wrapper {
  /* background-color: aqua; */
  position:absolute;
  margin: 0 auto;
  width: 98vw;
  height:100vw;
  display: grid;
  grid-template:
    [top-end]
    160px [title-end]
    10fr [main-end]
    1fr [bottom-end] /
    [left-end]
    380px [sidebar-end]
    4fr [col-1-end]
    4fr [right-end];
}

div#title-area {
  grid-area: top-end/left-end/title-end/sidebar-end;
  text-align:center;
  color:black;
  /* background-color:rgb(255, 225, 230); */
}

div#sidebar {
  grid-area: title-end/left-end/bottom-end/sidebar-end;
  /* background-color: rgb(252, 252, 212); */
  padding: 10px 0 10px 10px;
  font-size:90%;
}

div#main {
  grid-area: top-end/sidebar-end/bottom-end/right-end;
  /* background-color: rgb(205, 239, 255); */
  padding: 10px 20px;
  text-align: center;
  border-left: 0.5px solid rgb(212, 212, 212);
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}

div.load-menu.tab {
  position: fixed;
  height: 1.6em;
  width: 6em;
  background-color: rgb(226, 226, 226);
  color: rgb(117, 117, 117);
  padding: 0.5em 0 0 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

div.load-menu.tab.inactive {
  top: -1.6em;
  right: 3em;
  transition: 0.2s;
  z-index: 3;
  box-shadow: 1px 1px 1px 1px rgba(180, 180, 180, 0.068);
}

div.load-menu.tab.inactive:hover {
  top: 0;
  transition: 0.2s;
}

/*****************************************************/
/********     Character sidebar section      ********/
/***************************************************/

div.character-point-cards-container {
  margin: 1em 0;
  display: grid;
  grid-template: repeat(4, 1fr) / 2fr 1fr;
  grid-row-gap: 1em;
}

div.point-description-grid.character {
  grid-area: span 1 / span 1;
  padding-top: 2%;
  padding-right: 10%;
}

div.point-container.character {
  grid-area: span 1 / span 1;
  width: 3.6em;
}

div#sidebar > h2 {
  margin-bottom: 0;
}

div#sidebar > p {
  margin-block-start: 0.3em;
  font-style: italic;
  font-size: 0.9em;
}

div#sidebar form {
  margin-top: 2em;
}

div.create-character.character-name input {
  margin-left: 0.5em;
  width: 14em;
}


/*****************************************************/
/*********      Journey circle section      *********/
/***************************************************/

#journey-title input[type='text'] {
  min-width: 80%;
  color: rgb(41, 41, 41);
  font-weight: bold;
  font-family: serif;
  text-align: center;
  border: none;
  margin: 0.6em 0 0;
  font-size: 1.4em
}

#journey-title input[type='text']:focus {
  outline: none;
  color:rgb(0, 47, 255);
}

#journey-title p {
  margin-top: 0em;
  font-size: 0.8em;
  font-style: italic;
}

#journey-title p.hide {
  opacity: 0;
  transition: 0.2s ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#journey-title input[type='submit'] {
  margin: 0em 0 3em;
}

div#journey-circle-container {
  margin: 0 auto;
  padding:40px;
}

div#journey-circle {
  border: 0.5px solid rgb(129, 129, 129);
  width: 40em;
  height: 40em;
  border-radius: 50%;
  position: relative;
  margin: 10px auto;
}

div.point-container.journey {
  width: 3.6em;
  height: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3em -1.8em;
}

div.point11 .text-overlay {
  left: 30%;
}

div.point12 .text-overlay, div.point10 .text-overlay {
  left: 28%;
}

div.point-container.journey.point1 {
  transform: rotate(-90deg) translate(20em) rotate(90deg);
}

div.point-container.journey.point2 {
  transform: rotate(-60deg) translate(20em) rotate(60deg);
}

div.point-container.journey.point3 {
  transform: rotate(-30deg) translate(20em) rotate(30deg);
}

div.point-container.journey.point4 {
  transform: rotate(0deg) translate(20em) rotate(0deg);
}

div.point-container.journey.point5 {
  transform: rotate(30deg) translate(20em) rotate(-30deg);
}

div.point-container.journey.point6 {
  transform: rotate(60deg) translate(20em) rotate(-60deg);
}

div.point-container.journey.point7 {
  transform: rotate(90deg) translate(20em) rotate(-90deg);
}

div.point-container.journey.point8 {
  transform: rotate(120deg) translate(20em) rotate(-120deg);
}

div.point-container.journey.point9 {
  transform: rotate(150deg) translate(20em) rotate(-150deg);
}

div.point-container.journey.point10 {
  transform: rotate(180deg) translate(20em) rotate(-180deg);
}

div.point-container.journey.point11 {
  transform: rotate(210deg) translate(20em) rotate(-210deg);
}

div.point-container.journey.point12 {
  transform: rotate(240deg) translate(20em) rotate(-240deg);
}



/*****************************************************/
/*********      Breakpoints management      *********/
/***************************************************/

@media only screen and (max-width:665px) {
  div#view-wrapper {
    height: 98%;
    width: 95%;
    display:flex;
    flex-direction:column;
  }

  div#title-area {
    height:20%;
  }

  div#sidebar {
    height:30%;
  }

  div#main {
    height: 100%;
  }

}